<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>美甲貼片訂製</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <header>
      <h1>Ning's Nail Studio</h1>
      <h2>凝思美甲官方網站</h2>
    </header>
    <nav>
      <ul>
        <li><a href="/">首頁</a></li>
        <li><a href="/collections">作品總覽</a></li>
        <li><a href="#">美甲貼片訂製</a></li>
        <li><a href="/reservation">預約方法</a></li>
        <li><a href="/traffic">交通資訊</a></li>
      </ul>
    </nav>
    <main></main>
  </body>
</html>
