<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新會員註冊頁面</title>
  </head>
  <body>
    <h2>請輸入以下資料</h2>
    <form action="/signup" , method="POST">
      <label for="nickname">暱稱</label>
      <input id="nickname" type="text" name="nickname" required /><br />
      <label for="email">信箱</label>
      <input id="email" type="email" name="email" required /><br />
      <label for="password">密碼</label>
      <input id="password" type="password" name="password" required /><br />
      <button type="submit">註冊</button>
    </form>
  </body>
</html>
